<!DOCTYPE html>
<html lang="en">
	<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/style.css">
    <script src="static/behavior.js"></script>
    <title> my terminal trader app k </title>
  </head>
	<body>

<div>
	<h3>login</h3>
	<p>supposedly terminal trader nublet </p>


	<form action="/login" method="post">
		<input name="username" placeholder="usernamez" type="text"> <br>
		<input name="password" placeholder="passwordz" type="password"> <br>
		<input type="submit">
		<p> {{message}}</p>
	</form>
</div>

	</body>

</html>
